<h1>This is the secret page</h1>

<p>You found me!</p>

<img
  src="https://lh3.googleusercontent.com/proxy/AKBWROYq0zyuAcYj1uteaRZ8nFKt3pR3yjuF9n0FEsXc0evhctmlr5T_br4sETuzy_z5EzEQD9Qllo-bkMXaZAw2L2OOM7ksXn9qB3vxjfCxrcRA8sfd_D9_TrCGh0tCswg"
  alt="">