<%- include("partials/header") %>

<h2>You fell in love with: <%= thingVar %> </h2>

<% if (thingVar.toLowerCase() === "alexis") { %>
<h3>GREAT CHOICE! ALEXIS IS THE BEST!</h3>
<% } %>

<%- include("partials/footer") %>