  <% include partials/header %>
    
    <h1>This is the home page!</h1>

    <img
      src="https://upload.wikimedia.org/wikipedia/commons/2/2b/WelshCorgi.jpeg"
      alt="corgi"
    />

  <% include partials/footer %>