
<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>

<% if (thingVar.toLowerCase() === "alexibee") { %>
<p>GOOD CHOICE! ALEXIBEE IS THE BEST!</p>
<% } else {%>
<p>BAD CHOICE! YOU SHOULD HAVE PICKED ALEXIBEE!</p>
<% } %>

<p>P.S. This is from ejs file</p>

<% include partials/footer %>